.left4{
    display: flex;
    margin-bottom: 30px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
    height:250px;
}

.left4-left-img{
    width:250px;
    height:250px;
    border-radius: 12px 0px 0px 12px;

}

.left4-right{
    padding: 28.07px 30px 28.07px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 193.86px;
    
    
}

.left4-right-1{
    font-size: 13px;

}

.left4-right-2{
    font-size: 20px;
    padding: 3px;
}
.left4-right-3{
    font-size: 11px;
    padding: 11px;

}

.left4-right-4{
    padding: 11px;

}
.left4-right-5{
    font-size: 14px;
    padding: 6px;

}