.footer{
    border-top: 1px solid #e6e5e6;
    padding:40px 0px 45px;    
    justify-content: space-between;
}

.footer-inner{
    width: 1170px;
    max-width: 1170px;
    align-items: center;
    margin: auto;
    margin: 50px auto;

}



.footer-katogether{
    margin: 10px;
}

.footer-med{
    margin: 10px;
    color:#8a778a;

}

.footer-bottom{
    display: flex;
    justify-content: space-between;
}

.footer-bottom-ul{
    display: flex;
    gap: 20px
}

.footer-bottom-ul2{
    display: flex;
    gap: 10px

}

.personalInfo{
    font-weight: 700;
}