.main-background{
    background-color: rgb(247, 247, 247);

}

.main{
    padding-top: 65px;
    display: flex;
    width: 1120px;
    max-width: 1120px;
    justify-content: space-between;
    margin: 20px auto 0px;
    
}
.left{
    width: 71.79%;
}

.right{
    width: 25.64%;
}