

.left3a{
    display: flex;
    margin-bottom: 30px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
    height:250px;
   

}

.left3-left-img{
    width:250px;
    height:250px;
    border-radius: 12px 0px 0px 12px;
    object-fit: cover;

}

.left3-right{
    padding: 28.07px 30px 28.07px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 250px;
    background-color: black;
    
}

.left3-right-1{
    font-size: 13px;
    height:21.7px;
    padding:10px 0px 0px 0px;
    background-color: black;
    color: white;
}

.left3-right-2{
    font-size: 20px;
    padding: 3px 0px 0px 0px;
    height:34.19;
    color: white;
    background-color: black;

}
.left3-right-3{
    font-size: 14px;
    padding: 11px 0px 0px 0px;
    height:69px;
    color: white;
    background-color: black;


}

.left3-right-4{
    padding: 16px 0px 0px 0px;
    align-items: center;
    color: white;
    background-color: black;


}
.left3-right-5{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: -10px 0px 0px 0px;
    height: 27.97px;
    color: white;
    background-color: black;

}

.left3-pagination{
    transition: width 0.3s;
}
.progressbar3{
    width: 335px;
    height:4px;
    background-color:red;
    border-radius: 999px;
  }